# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env

# Compiled source
*.pyc
*.pyo
*.pyd

# Distribution / packaging
dist/
build/
eggs/
*.egg-info/
*.egg

# IDE settings
.vscode/
.idea/

# Logs and backups
*.log
*.bak
*.swp
